@import "../../Styles/mixins";
@import "../../Styles/variables";

.mainContainer {
  @include flexCol;
  gap: 20px;
  max-width: $mobileMaxWidth;
  margin: auto;
}

.mainImg {
  width: 100%;
  height: auto;
}

.content {
  @include flexCol;
  gap: 20px;
  &__text {
    h1 {
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 1;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.5;
      color: hsl(236, 13%, 42%);
    }
    button {
      margin-top: 20px;
      padding: 15px 25px;
      color: hsl(36, 100%, 99%);
      font-weight: 700;
      background: hsl(5, 85%, 63%);
      outline: none;
      border: none;
      letter-spacing: 4px;
      cursor: pointer;
    }

    button:hover {
      background: hsl(240, 100%, 5%);
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .mainContainer {
    margin: 0;
    max-width: 730px;
  }
  .content {
    flex-direction: row;

    &__text {
      width: 50%;
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
